################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/UMLGeneration/CopilotIndices/17.13.430.18484
/.vs/UMLGeneration/FileContentIndex
/.vs/UMLGeneration/v17
